[submodule "human_walking_trajectory_prediction"]
	path = human_walking_trajectory_prediction
	url = https://github.com/imaroger/human_walking_trajectory_prediction.git
[submodule "walking_human_trajectory_models"]
	path = walking_human_trajectory_models
	url = https://github.com/imaroger/walking_human_trajectory_models.git
[submodule "pair_during_collaborative_carriage"]
	path = pair_during_collaborative_carriage
	url = https://github.com/imaroger/pair_during_collaborative_carriage.git
[submodule "table_trajectories_during_collaborative_carriage"]
	path = table_trajectories_during_collaborative_carriage
	url = https://github.com/imaroger/table_trajectories_during_collaborative_carriage.git
